# Dependencias
/node_modules
/.pnp
.pnp.js

# Producción
/dist
/build

# Archivos de entorno local
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Cache y directorios temporales
.npm
.eslintcache
.cache
.parcel-cache
.firebase/
.runtimeconfig.json
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Archivos de cobertura
coverage
.nyc_output

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Directorios específicos de frameworks
.next/
out/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
crash.log
crash.*.log
.terraform.d/
tfplan
tfplan.json
